<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>

<body>
    <div class="header">
        <!-- <h1>AWS Tech U Forums</h1> -->
        <a href="/home">
            <img class="main_logo" src="{{url_for('static',filename='LOGO.png')}}" alt="AWS Forms Logo">
        </a>


        <form action="/logout"> <button class="logout">Logout</button></form>

    </div>
    <div class="main">
        <div class="nav">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <img src="{{url_for('static',filename='Hamburger_icon.svg.png')}}" alt="">
            </a>
            <ul id="links">
                <li><a href="/home">home</a></li>
                <li><a href="/lookup/">search</a></li>
                <li><a href="/home">TechU</a></li>
            </ul>
        </div>

        <div class="new_post">
            <form action="/edit_post/{{post.post_id}}" method="POST">

                <label for="subject">Subject</label><br>
                <input class="post_content" type="text" name="subject" id="" value="{{post.subject}}"><br>

                <label for="body">Body</label><br>
                <textarea class="post_content" name="post_body" id="" cols="20"
                    rows="4">{{post.post_body}}</textarea><br>

                <fieldset>
                    <legend>Tags:</legend>
                    <div class="tag_container">
                        {% for tag in tags%}

                            {% for p_t in post_tag_list%}
                        
                                {% if tag['tag_name'] == p_t['tag_name']%}
                                <input type="checkbox" name="tags" value="{{tag['tag_id']}}" checked>{{tag['tag_name']}} <br>

                                {%endif%}
                            {% endfor %}
                            <input type="checkbox" name="tags" value="{{tag['tag_id']}}" >{{tag['tag_name']}} <br>
                    {% endfor %}
                        
                    </div>
                </fieldset>
                <input type="submit" value="Edit">
            </form>
        </div>



        <footer class="bottom_content">
            <div class="bottom_links">
                <a class="footers" href="https://aws.amazon.com/privacy/?nc1=f_pr" target="_blank">Privacy</a>
                <a class="footers" href="https://aws.amazon.com/terms/?nc1=f_pr" target="_blank">Site Terms</a>
                <a class="footers" href="https://aws.amazon.com/#" target="_blank">Cookie Preference</a>
            </div>
            <h3>copyright 2022, Amazon Web Services, Inc. or its affiliates. All rights reserved.</h3>
        </footer>

        <script>
            function myFunction() {
                var x = document.getElementById("links");
                if (x.style.display === "block") {
                    x.style.display = "none";
                } else {
                    x.style.display = "block";
                }
            }
        </script>

</body>

</html>