<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Tech U Forums</title>
</head>

<body>
    <div class="header">
        <img class="main_logo" src="{{url_for('static',filename='LOGO.png')}}" alt="AWS Forms Logo">
        <form action="/logout"> <button class="logout">Logout</button></form>
    </div>
    <div class="main">
        <div class="nav">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <img src="{{url_for('static',filename='Hamburger_icon.svg.png')}}" alt="">
            </a>
            <ul id="links">
                <li><a href="/home">home</a></li>
                <li><a href="/search">search</a></li>
                <li><a href="">TechU</a></li>
            </ul>
        </div>
        <div class="edit_comment_area">
            <div>
                <h1>Edit Your Comment </h1>
                <h3>{{post.subject}}</h3>
                <p>{{post.post_body}}</p>

            </div>

            <div class="">

                <h3 class="h3post">Edit your comment here</h3>
                <form action="/update_comment/{{comment.comment_id}}" method="POST">
                    <input type="hidden" name="post_id" id="" value="{{post.post_id}}">
                    <textarea name="comment_body" id="" cols="100" rows="10">{{comment.comment_body}}</textarea><br><br>
                    <button class="button1">Edit</button>

                </form>

            </div>
        </div>

    </div>
    <footer class="bottom_content">
        <div class="bottom_links">
            <a class="footers" href="https://aws.amazon.com/privacy/?nc1=f_pr" target="_blank">Privacy</a>
            <a class="footers" href="https://aws.amazon.com/terms/?nc1=f_pr" target="_blank">Site Terms</a>
            <a class="footers" href="https://aws.amazon.com/#" target="_blank">Cookie Preference</a>
        </div>
        <h3>copyright 2022, Amazon Web Services, Inc. or its affiliates. All rights reserved.</h3>
    </footer>
    <script>
        function myFunction() {
            var x = document.getElementById("links");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
</body>

</html>